Source: onlax
Section: utils
Priority: optional
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev,
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler
Standards-Version: 3.9.2
Vcs-Git: git://github.com/Onlax-Project/Onlax.git
Vcs-Browser: http://github.com/Onlax-Project/Onlax

Package: onlaxd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}


Package: onlax-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}

